.reportContainer { 
    margin-top: 32px;
    background-color: white;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    padding: 20px 24px;
    .h2 {
        font-size: 18px;
        color: #181D27;
        font-weight: 600;
        line-height: 28px;
    }
}